target: all

server:
  http_listen_port: 9009
  grpc_listen_port: 9095

common:
  storage:
    backend: s3
    s3:
      endpoint: http://minio:9000
      access_key_id: "{{ MINIO_ACCESS_KEY }}"
      secret_access_key: "{{ MINIO_SECRET_KEY }}"
      bucket_name: mimir
      region: us-east-1
      insecure: true  # Required for HTTP MinIO setup
  replication_factor: 1
  ring:
    kvstore:
      store: inmemory

blocks_storage:
  backend: s3
  s3:
    endpoint: http://minio:9000
    access_key_id: "{{ MINIO_ACCESS_KEY }}"
    secret_access_key: "{{ MINIO_SECRET_KEY }}"
    bucket_name: mimir-blocks
    region: us-east-1
    insecure: true
  tsdb:
    dir: /mimir/tsdb

compactor:
  data_dir: /mimir/compactor
  sharding_ring:
    kvstore:
      store: inmemory

limits:
  max_label_name_length: 1024
  max_label_value_length: 2048
  max_label_names_per_series: 30
  retention_period: {{ '168h' if ENVIRONMENT == 'dev' else '0s' }}

analytics:
  reporting_enabled: false
