target: all

server:
  http_listen_port: 9009
  grpc_listen_port: 9095

common:
  storage:
    backend: s3
    s3:
      endpoint: minio:9000
      access_key_id: "{{ MIMIR_ACCESS_KEY }}"
      secret_access_key: "{{ MIMIR_SECRET_KEY }}"
      bucket_name: mimir
      region: us-east-1
      insecure: true

blocks_storage:
  storage_prefix: blocks

ruler_storage: 
  storage_prefix: ruler 

limits:
  max_label_name_length: 1024
  max_label_value_length: 2048
  max_label_names_per_series: 30
  compactor_blocks_retention_period: {{ '168h' if ENVIRONMENT == 'dev' else '0s' }}
