write-kubeconfig-mode: "0644"
{% if KUBERNETES_MASTER %}
cluster-init: true
{% else %}
cluster-init: false
{% endif %}
tls-san:
tls-san:
  - "{{ hostvars[groups[ENVIRONMENT][0]]['KUBERNETES_IP'] }}"
disable:
  - traefik