# ddclient.conf
#
ssl=yes
daemon=5m
use=web, web=https://icanhazip.com/, web-skip='\\n\\n'
protocol=cloudflare, \
zone={{ DDCLIENT_ZONE }}, \
ttl=1, \
login={{ DDCLIENT_EMAIL }}, \
password={{ DDCLIENT_CF_GLOBAL_TOKEN }} \
{{ DDCLIENT_HOSTNAME }}.{{ DDCLIENT_ZONE }}
