---
apiVersion: minio.min.io/v2
kind: Tenant
metadata:
  name: prod-minio
  namespace: {{ NAMESPACE }}
spec:
  replicas: 4
  pools:
    - name: pool-0
      resources:
        requests:
          memory: "4Gi"
          cpu: "1"
        limits:
          memory: "8Gi"
          cpu: "1"
      volumeClaimTemplate:
        metadata:
          name: data
        spec:
          storageClassName: longhorn-retain
          accessModes: ["ReadWriteOnce"]
          resources:
            requests:
              storage: 10Gi

---
apiVersion: v1
kind: Secret
metadata:
  name: minio-creds
  namespace: {{ NAMESPACE }}
type: Opaque
stringData:
  accesskey: {{ MINIO_ACCESS_KEY }}
  secretkey: {{ MINIO_SECRET_KEY }}

---
apiVersion: cert-manager.io/v1
kind: Certificate
metadata:
  name: prod-minio
  namespace: {{ NAMESPACE }}
spec:
  secretName: prod-minio-tls
  dnsNames:
    - "minio.lb.meyerstk.com"
  issuerRef:
    name: le-prod
    kind: ClusterIssuer

---
apiVersion: traefik.io/v1alpha1
kind: IngressRoute
metadata:
  name: prod-minio-ingress
  namespace: {{ NAMESPACE }}
spec:
  entryPoints:
    - apisecure
  routes:
    - match: Host(`minio.lb.meyerstk.com`)
      kind: Rule
      services:
        - name: prod-minio
          port: 9000
  tls:
    secretName: prod-minio-tls
