# File templated by Ansible

name: {{ app }}

services:
{% for container in containers %}
  {{ app }}-{{ container.name }}:
      image: {{ container.image }}
      container_name: {{ app }}-{{ container.name }}
      restart: unless-stopped
{% if container.multiplier is defined %}
      mem_limit: {{ (container.multiplier * 256) ~ 'm' }}
{% else %}
      mem_limit: 256m
{% endif %}
      cpus: 0.5

      # Networks
{% if container.url is defined or container.dbs is defined %}
      networks:
{% if container.url is defined %}
        - traefik
{% endif %}
{% if container.dbs is defined %}
{% for db in container.dbs %}
        - {{ db }}
{% endfor %}
{% endif %}
{% endif %}

      # Volumes
{% if container.volumes is defined %}
      volumes:
{% for volume in container.volumes %}
        - {{ volume }}
{% endfor %}
{% endif %}

      # Envs
{% if container.envs is defined %}
      environment:
{% for env in container.envs %}
        {{ env }}
{% endfor %}
{% endif %}

      # Labels
      labels: 
        - "ansible.deploy=true"
{% if container.url is defined %}
        - "alloy.blackbox={{ container.url }}{% if container.api is defined %}:8443{% endif %}{% if container.path is defined %}{{ container.path }}{% endif %}{% if container.mon_path is defined %}{{ container.mon_path }}{% endif %}"
        - "traefik.enable=true"
        - "traefik.http.routers.{{ app }}-{{ container.name }}.rule=Host(`{{ container.url }}`){% if container.path is defined %} && PathPrefix(`{{ container.path }}`){% endif %}"
{% if container.path is defined %}
        - "traefik.http.routers.{{ app }}-{{ container.name }}.priority=100"
{% endif %}
        - "traefik.http.routers.{{ app }}-{{ container.name }}.entrypoints={{ 'apisecure' if container.api is defined and container.api else 'websecure' }}"
        - "traefik.http.services.{{ app }}-{{ container.name }}.loadbalancer.server.port={{ container.port | default(80) }}"
{% if (container.noindex is defined and container.noindex) or ENVIRONMENT == "dev" %}
        - "traefik.http.routers.{{ app }}-{{ container.name }}.middlewares=noindex-header@file"
{% endif %}
{% endif -%}
{% if container.labels is defined  %}
{% for label in container.labels %}
        {{ label }}
{% endfor %}
{% endif %}
      # Additional
{% if container.additional is defined %}
{{ container.additional | indent(6, true) }}
{% endif %}
{% endfor %}

networks:
  default:
  proxy: 
    external: true
  traefik:
    external: true
  mongodb: 
    external: true
  