# https://github.com/mariadb-operator/mariadb-operator/blob/main/docs/API_REFERENCE.md
---
apiVersion: v1
kind: Secret
metadata:
  name: mariadb-root
  namespace: {{ NAMESPACE }}
type: Opaque
data:
  password: {{ MARIADB_ROOT | b64encode }}

---
apiVersion: k8s.mariadb.com/v1alpha1
kind: MariaDB
metadata:
  name: mariadb
  namespace: {{ NAMESPACE }}
  labels:
    app: mariadb
spec:
  rootPasswordSecretKeyRef:
    name: mariadb-root
    key: password
  storage:
    size: 5Gi
    storageClassName: longhorn-retain
  resources:
    requests:
      cpu: 100m
      memory: 128Mi
    limits:
      cpu: 200m
      memory: 500Mi
  image: docker-registry1.mariadb.com/library/mariadb
