---
apiVersion: minio.min.io/v2
kind: Tenant
metadata:
  name: prod-minio
  namespace: {{ NAMESPACE }}
spec:
  replicas: 4
  pools:
    - name: pool-0
      resources:
        requests:
          memory: "4Gi"
          cpu: "1"
        limits:
          memory: "8Gi"
          cpu: "1"
      volumeClaimTemplate:
        metadata:
          name: data
        spec:
          storageClassName: longhorn-retain
          accessModes: ["ReadWriteOnce"]
          resources:
            requests:
              storage: 10Gi

---
apiVersion: v1
kind: Secret
metadata:
  name: minio-creds
  namespace: {{ NAMESPACE }}
type: Opaque
stringData:
  accesskey: {{ MINIO_ACCESS_KEY }}
  secretkey: {{ MINIO_SECRET_KEY }}