tenant:
  name: prod
  configSecret:
    name: minio-creds
  pools:
    - servers: 3
      name: pool-0
      volumesPerServer: 2
      size: 10Gi
      storageClassName: longhorn-retain
      resources:
        requests:
          cpu: 200m
          memory: 500Mi
        limits:
          cpu: 600m
          memory: 1Gi
          