---
apiVersion: mongodbcommunity.mongodb.com/v1
kind: MongoDBCommunity
metadata:
  name: prod-mongodb
  namespace: {{ NAMESPACE }}
  labels:
    app: prod-mongodb-svc
spec:
  members: 1
  type: ReplicaSet
  version: "6.0.5"
  security:
    authentication:
      modes: ["SCRAM"]
  users:
    - name: root
      db: admin
      passwordSecretRef:
        name: mongodb-root
      roles:
        - name: Admin
          db: admin
        - name: userAdminAnyDatabase
          db: admin
      scramCredentialsSecretName: my-scram
  statefulSet:
    spec:
      selector:
        matchLabels:
          app: prod-mongodb-svc
      template:
        metadata:
          labels:
            app: prod-mongodb-svc
        spec:
          containers:
            - name: mongod
              resources:
                requests:
                  cpu: "100m"
                  memory: "300Mi"
                limits:
                  cpu: "200m"
                  memory: "600Mi"
            - name: mongodb-agent
              resources:
                requests:
                  cpu: "100m"
                  memory: "300Mi"
                limits:
                  cpu: "200m"
                  memory: "600Mi"
      volumeClaimTemplates:
        - metadata:
            name: data-volume
          spec:
            storageClassName: longhorn-retain
            accessModes: ["ReadWriteOnce"]
            resources:
              requests:
                storage: 5Gi

---
apiVersion: v1
kind: Secret
metadata:
  name: mongodb-root
  namespace: {{ NAMESPACE }}
type: Opaque
stringData:
  password: {{ MONGODB_ROOT }}