# https://github.com/traefik/traefik-helm-chart/blob/master/traefik/values.yaml
globalArguments:
- "--global.checknewversion"

args:
  - --api.insecure
  - --ping

logs: 
  general:
    level: "DEBUG"
  access: 
    enabled: true 

ingressRoute: 
  dashboard: 
    enabled: true 

ports:
  web:
    port: 80
    asDefault: true
    nodePort: 30080
    expose:
      default: true
    exposedPort: 30080
    redirections: 
        to: websecure
        scheme: https
    forwardedHeaders: 
        trustedIPs: 
            - 10.0.0.0/8
    proxyProtocol: 
        trustedIPs: 
            - 10.0.0.0/8
    middlewares:
        - {{ NAMESPACE }}-headers@kubernetescrd
        - {{ NAMESPACE }}-web-ratelimit@kubernetescrd
        - {{ NAMESPACE }}-compress@kubernetescrd

  websecure:
    port: 443
    asDefault: true
    expose:
      default: true
    exposedPort: 30443
    tls: 
        enabled: true
    forwardedHeaders: 
        trustedIPs: 
            - 10.0.0.0/8
    proxyProtocol: 
        trustedIPs: 
            - 10.0.0.0/8
    middlewares:
        - {{ NAMESPACE }}-headers@kubernetescrd
        - {{ NAMESPACE }}-web-ratelimit@kubernetescrd
        - {{ NAMESPACE }}-compress@kubernetescrd

  apisecure:
    port: 8443
    expose:
      default: true
    exposedPort: 30444
    tls: 
        enabled: true
    forwardedHeaders: 
      trustedIPs: 
          - 10.0.0.0/8
    proxyProtocol: 
      trustedIPs: 
          - 10.0.0.0/8      
    middlewares:
        - {{ NAMESPACE }}-headers@kubernetescrd

  traefik:
    port: 8080
    expose:
      default: true
    exposedPort: 30081