---
apiVersion: v1
kind: Service
metadata:
  name: traefik-dashboard-service
  namespace: {{ NAMESPACE }} 

spec:
  type: NodePort
  externalTrafficPolicy: Local
  ports:
    - port: 8080
      targetPort: dashboard
      nodePort: 30081
  selector:
    app: traefik

---
apiVersion: v1
kind: Service
metadata:
  name: traefik-web-service
  namespace: {{ NAMESPACE }} 

spec:
  type: NodePort
  externalTrafficPolicy: Local
  ports:
    - targetPort: web
      port: 80
      nodePort: 30080
  selector:
    app: traefik

---
apiVersion: v1
kind: Service
metadata:
  name: traefik-websecure-service
  namespace: {{ NAMESPACE }} 

spec:
  type: NodePort
  externalTrafficPolicy: Local
  ports:
    - targetPort: websecure
      port: 443
      nodePort: 30443
  selector:
    app: traefik

---
apiVersion: v1
kind: Service
metadata:
  name: traefik-apisecure-service
  namespace: {{ NAMESPACE }} 

spec:
  type: NodePort
  externalTrafficPolicy: Local
  ports:
    - targetPort: apisecure
      port: 8443
      nodePort: 30444
  selector:
    app: traefik