apiVersion: v1
kind: ServiceAccount
metadata:
  namespace: default
  name: traefik-account

---
kind: DaemonSet
apiVersion: apps/v1
metadata:
  name: traefik-deployment
  namespace: default
  labels:
    app: traefik

spec:
  replicas: 1
  selector:
    matchLabels:
      app: traefik
  template:
    metadata:
      labels:
        app: traefik
    spec:
      serviceAccountName: traefik-account
      containers:
        - name: traefik
          image: traefik:latest
          args:
            - --api.insecure
            - --providers.kubernetesingress
            - --log.level=DEBUG
            - --ping
            - --accesslog=true

            - --entryPoints.web.address=:80
            - --entrypoints.websecure.address=:443 
            - --entryPoints.websecure.http.tls
            - --entrypoints.apisecure.address=:8443 

            - --entryPoints.web.forwardedHeaders.trustedIPs=10.0.0.0/8
            - --entryPoints.websecure.forwardedHeaders.trustedIPs=10.0.0.0/8
            - --entryPoints.apisecure.forwardedHeaders.trustedIPs=10.0.0.0/8
            - --entryPoints.web.http.redirections.entryPoint.to=websecure
            - --entryPoints.web.http.redirections.entryPoint.scheme=https

          ports:
            - name: web
              containerPort: 80
            - name: websecure
              containerPort: 443
            - name: apisecure
              containerPort: 8443      
            - name: dashboard
              containerPort: 8080
          livenessProbe:
            httpGet:
              path: /ping
              port: 8080
            initialDelaySeconds: 10
            periodSeconds: 10
          readinessProbe:
            httpGet:
              path: /ping
              port: 8080
            initialDelaySeconds: 5
            periodSeconds: 5

